@inherits LayoutComponentBase


<PageTitle>Wiki</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <a class="about" href="https://dotnet.microsoft.com/ja-jp/apps/maui" target="_blank">About</a>
        </div>
        <div class="divmain">
            <article class="content px-3">
                @Body
            </article>
        </div>
        <div class="divright">
            <div class="block-thin"><p class="script">BANNAR</p></div>
            <div>
            <div>
                <a href="https://dotnet.microsoft.com/ja-jp/apps/maui"><img class="banner" src="https://imgur.com/XMmWSzF.jpg" /></a>
            </div>
            <div>
                <a href="https://www.microsoft.com/ja-jp/microsoft-365"><img class="banner" src="https://imgur.com/vhuAVVq.jpg" /></a>
            </div>
            <div>
                <a href="https://www.udemy.com/topic/c-sharp/"><img class="banner" src="https://imgur.com/EDvyl4r.jpg" /></a>
            </div>
            </div>
        </div>
    </main>
</div>


